########################################
# ArgoCD Helm Configuration
########################################

global:
  revisionHistoryLimit: 3

server:
  service:
    type: LoadBalancer
  ingress:
    enabled: false
  extraArgs:
    - --insecure

configs:
  params:
    server.insecure: true
  cm:
    timeout.reconciliation: 180s
    application.instanceLabelKey: argocd.argoproj.io/instance

dex:
  enabled: false

redis:
  enabled: true

repoServer: {}
controller: {}
